body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight:normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 100px auto 100px auto;
  width: 5%;
}

a{
  color: #11999E;
  text-decoration: none;
}

p{
  line-height: 2;
}


.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 500px;
}

.bottom-container{
  background: #66BFBF;
  margin-top: 50px;
  padding: 30px;
}

.btn{
  background-color: #11999E;
  color: white;
  padding: 10px;
}

.contact-me-description{
  margin: auto auto 50px auto;
  width: 50%;
}

.desc{
  margin: auto;
  width: 50%;
}

.footer-link{
  margin: 10px;
}
.Profile{
  margin-top: 40px;
}

.Powerbi{
  float: right;
  margin-left: 30px;
  width: 25%;
}

.Python{
  float: left;
  margin-right: 30px;
  width: 25%;
}

.skills-head{
  margin-top: 100px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container{
  background-color: #e3e1e1;
  padding-top: 100px;
  position: relative;
}
